<div class="container">
  <!-- Example row of columns -->

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4">
        <h2><%= user.user_name %></h2>
        <% if user.avatar_url.present? %>
          <%= image_tag(user.avatar_url, class: "img-responsive")%>
        <% end %>
        <br>
        <p><!-- <a class="btn btn-default" href="#" role="button">View details »</a> -->
        <%= link_to "View details »", user_path(user), class: "btn btn-default",role: "button" %>
        </p>
      </div>
    <% end %>
  


